<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Анализ поступления</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"></head>
<body>
    <header>
        <h1>Анализ поступления абитуриентов</h1>
    </header>
    <form method="POST">
    <main>
        <div class="inner-main">
            <nav>
                <a href="./upload-db">Загрузить данные</a>
                <a href="./download-pdf">Скачать pdf-отчёт</a>
            </nav>

            <div class="tables">
                <div>
                    <h3>Выберите дату:</h3>
                    <select name="date">
                        {% for date in dates %}
                            <option value="{{ date[0] }}">{{date[0]}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Показать информацию</button>
                </div>
                <table>
                    <tr>
                        <td class="headings">Дата обновления</td>
                        <td class="headings">Направление</td>
                        <td class="headings">Кол-во мест</td>
                        <td class="headings">Общее кол-во абитуриентов</td>
                        <td class="headings">Проходной балл</td>
                    </tr>
                    <tr>
                        <td>{{ date }}</td>
                        <td>ПМ</td>
                        <td>40</td>
                        <td>{{ places["pm"] }}</td>
                        <td>{{ scores["pm"] }}</td>
                    </tr>
                    <tr>
                        <td>{{ date }}</td>
                        <td>ИВТ</td>
                        <td>50</td>
                        <td>{{ places["ivt"] }}</td>
                        <td>{{ scores["ivt"] }}</td>
                    </tr>
                    <tr>
                        <td>{{ date }}</td>
                        <td>ИТСС</td>
                        <td>30</td>
                        <td>{{ places["itss"] }}</td>
                        <td>{{ scores["itss"] }}</td>
                    </tr>
                    <tr>
                        <td>{{ date }}</td>
                        <td>ИБ</td>
                        <td>20</td>
                        <td>{{ places["ib"] }}</td>
                        <td>{{ scores["ib"] }}</td>
                    </tr>
                </table>
            </div>

            <div class="list-header">
                <h3>Список абитуриентов</h3>
                <p>Абитуриенты идут в порядке убывания шанса поступления. Сначала идут те, кто
                    подал все нужные документы и может быть зачислен, затем все остальные.
                </p>
            </div>

            <div class="filter">
                <div>
                    <h3>Отфильтровать данные по:</h3>

                    <select name="program">
                        <option value="pm">Прикладная математика</option>
                        <option value="ivt">Информатика и вычислительная техника</option>
                        <option value="itss">Инфокоммуникационные технологии и системы связи</option>
                        <option value="ib">Информационная безопасность</option>
                    </select>
                    <button type="submit">Отфильтровать</button>
                </div>
            </div>       

            <table>
                <tr>
                    <td class="headings">ID</td>
                    <td class="headings">Общий счет</td>
                    <td class="headings">Поданы документы</td>
                </tr>
                {% for person in data[program] %}
                <tr>
                    <td>{{ person[0] }}</td>
                    <td>{{ person[3] if person[3] is not none else "—" }}</td>
                    <td>{{ "Да" if person[1] == 1 else ("Нет" if person[1] == 0 else "—") }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
    </form>
</body>
</html>
